@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*background-image: url("http://img.asiabooking.com.vn/riverside-bamboo-resort-hoi-an-2481j175338.jpg");*/
  background-color: cadetblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
