<div class="row">
  <div class="col-6">
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Customer</button>
  </div>
  <div class="col-6">
    <input type="search" placeholder="Search by name" [(ngModel)]="searchName" (ngModelChange)="search()">

    <button class="btn btn-dark">Search</button>
  </div>
</div>
<h3>List Customer</h3>

<div class="alert alert-success" role="alert" *ngIf="abc">
  add success
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th (click)="sort('id')">id &nbsp;<i class="fas fa-sort"></i></th>
    <th (click)="sort('name')">name &nbsp;<i class="fas fa-sort"></i></th>
    <th>birthday</th>
    <th>address</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of cus1 | orderBy:key:reverse | paginate: {itemsPerPage:4, currentPage:p};">
    <td>{{customer.id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.birthday}}</td>
    <td>{{customer.address}}</td>
    <td>
      <button class="btn-warning" [routerLink]="['/customer/edit/'+customer.id]">Edit</button> &nbsp;
      <button class="btn-danger" (click)="delete(customer.id)">Delete</button>
    </td>
  </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-create-cus (checkSubmit)="getCheckSubmit($event)"></app-create-cus>
      </div>
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
    </div>
  </div>
</div>
