<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="/create" method="post">
    <input type="text" placeholder="input id" name="id">ID:
    <br>
    <input type="text" placeholder="input name" name="nameCustomer">Name:
    <br>
    <input type="text" placeholder="input emai" name="email">Email:
    <br>
    <input type="text" placeholder="input address" name="address">Address :
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>