<form [formGroup]="editSo" (ngSubmit)="EditForm()">
  <div class="row">
    <div class="col">
      <span>Mã Số Sổ</span><input class="form-control" type="text" formControlName="id">
    </div>
    <p
      *ngIf="editSo.controls.id?.invalid && (editSo.controls.id?.dirty
          ||editSo.controls.id?.touched)" style="color: red">
      id sai định dạng
    </p>

    <div class="col">
      <span>Mã KH</span><input type="text" class="form-control" formControlName="customer">
      <p *ngIf="editSo.controls.customer?.invalid && (editSo.controls.customer?.dirty
          ||editSo.controls.customer?.touched)" style="color: red">
        customer sai định dạng
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <span>Tên KH</span><input class="form-control" type="text" formControlName="customer">
      <p *ngIf="editSo.controls.customer?.invalid && (editSo.controls.customer?.dirty
          ||editSo.controls.customer?.touched)" style="color: red">
        customer sai định dạng
      </p>
    </div>
    <div class="col">
      <span>Ngày mở sổ</span><input class="form-control" type="date" formControlName="ngayMoSo">
      <p *ngIf="editSo.controls.ngayMoSo?.invalid && (editSo.controls.ngayMoSo?.dirty
          ||editSo.controls.ngayMoSo?.touched)" style="color: red">
        Ngày mở sổ sai định dạng
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <span>Thời gian bắt đầu</span><input class="form-control" type="date" formControlName="thoiGianBatDau">
      <p *ngIf="editSo.controls.thoiGianBatDau?.invalid && (editSo.controls.thoiGianBatDau?.dirty
          ||editSo.controls.thoiGianBatDau?.touched)" style="color: red">
        thười gian bắt đầu sai định dạng
      </p>
    </div>
    <div class="col">
      <span>Kỳ hạn</span><select class="form-select" name="" id="" formControlName="kyHan">
      <option value="1">3 tháng</option>
      <option value="2">6 tháng</option>
      <option value="3">1 năm</option>
      <option value="4">5 năm</option>
      <option value="5">không kì hạn</option>
    </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <span>Số Tiền</span><input class="form-control" type="text" formControlName="soTienGoi">
      <p *ngIf="editSo.controls.soTienGoi?.invalid && (editSo.controls.soTienGoi?.dirty
          ||editSo.controls.soTienGoi?.touched)" style="color: red">
        Số tiền không đươẹc để trống
      </p>
    </div>
    <div class="col">
      <span>Lãi Suất</span><input class="form-control" type="text" formControlName="laiSuat">
      <p *ngIf="editSo.controls.laiSuat?.invalid && (editSo.controls.laiSuat?.dirty
          ||editSo.controls.laiSuat?.touched)" style="color: red">
        Lãi suất không được để trống
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <span>Ưu Đãi</span><input class="form-control" type="text" formControlName="uuDai">
      <p *ngIf="editSo.controls.uuDai?.invalid && (editSo.controls.uuDai?.dirty
          ||editSo.controls.uuDai?.touched)" style="color: red">
        Ưu đãi khong được để trống
      </p>
    </div>
  </div>

  <div class="d-grid gap-2 col-2 mx-auto">
    <button class="btn btn-success mt-4 text-center">Edit</button>
  </div>


</form>
