<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1></h1>
<form action="/login" method="post">
    <table>
        <tr>
            <td>username</td>
            <td><input type="text" placeholder="username" name="username"></td>
        </tr>

        <tr>
            <td>password</td>
            <td><input type="text" placeholder="password" name="password"></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="checkbox" name="check" value="true"> Remember me
            </td>
        </tr>

        <input type="submit" value="submit">
    </table>
</form>
</body>
</html>